# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
lib/.DS_Store
.DS_Store
app/.DS_Store

/public/ai-models/*
/public/ai-models/.DS_Store
.DS_Store
app/.DS_Store
lib/static-resources.ts
lib/static-resources.ts
.DS_Store
app/.DS_Store
components/.DS_Store
components/converter/.DS_Store
lib/.DS_Store
app/.DS_Store
components/.DS_Store
components/converter/.DS_Store
lib/.DS_Store
