legacy-peer-deps=true
prefer-offline=false
fund=false
audit=false
loglevel=error
progress=false
fetch-timeout=600000
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
maxsockets=4
registry=https://registry.npmjs.org/
